#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

body {
  background-color: #F5F1E8;
}

.search-input {
  background-image: url('/images/magnifying-glass-icon-26762.png');
  background-size:auto;
  background-position: right;
  background-repeat: none;
}